@model MVCIntro.Models.Blog.BlogItem
@{
	ViewBag.Title = "Insert";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insert New Post</h2>
<form action="/BlogAdmin/Save" method="post">
    <table>
        <tr>
            <td>@Html.LabelFor(c => Model.Title)</td>
            <td>
                @Html.TextBoxFor(c => Model.Title)
                @Html.ValidationMessageFor(c => c.Title)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => Model.Link)</td>
            <td>
                @Html.TextBoxFor(c => Model.Link)
                @Html.ValidationMessageFor(c => c.Link)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => Model.Description)</td>
            <td>@Html.TextBoxFor(c => Model.Description)
            @Html.ValidationMessageFor(c => Model.Description)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>

